<!DOCTYPE html>
<html>
  <head>
    <title>Financial sentiment Analyser</title>
    {% include 'bootstrap.html' %}
  </head>
  <body>
    {% include 'nav.html' %}
    <div class="container">
      <div class="text-center mt-5 mb-5"">
            <h3 class ="fs-2">Financial Sentiment Analyser</h3>
            <p class="fw-semibold fs-6 mb-4 text-secondary">You can quickly detect the sentiment of financial news with <b class="fw-bolder">DistilRoberta</b> powered by <a href="https://https://huggingface.co/" target ="_blank" class = "fst-italic text-decoration-underline text-secondary">Hugging face</a>.</p>
      </div>
      <div class="shadow p-3 mb-5 bg-body rounded">
         <div class="container">
           <form action ='/result' method="post">   
               <div class="row">
                 <div class="col">
                   <h5>Text Classification</h5>
                 </div>
                 
                 <div class="col text-end">
                   <div class="dropdown">
                     <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="true">
                       Examples
                     </button>
                     <ul class="dropdown-menu">
                       <li><a class="dropdown-item" href="/example/1">Example 1</a></li>
                       <li><a class="dropdown-item" href="/example/2">Example 2</a></li>
                       <li><a class="dropdown-item" href="/example/3">Example 3</a></li>
                     </ul>
                   </div>
                 </div>
               </div>
               <div class ="row mt-3 mb-2">
                 <div class ="col">
                    <div class="form-floating">
                      <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" name ="floatingTextarea" style="height: 230px" required>{{text}}</textarea>
                      <label for="floatingTextarea" class="fw-semibold fs-6 text-secondary">Paste/Type your sentence here</label>
                    </div>
                 </div>
             </div>
             <div class="row">
               <div class="col text-start mt-3">
                  <button type="submit" class="btn btn-primary">Compute</button>
               </div>
             </div>
           </form>
           {% if result %}
            {% include 'progress.html' %}
          {% endif 
           %}
           </div>
      </div>
    </div>
  </body>
</html>